:root{
    --color1:#2c7ab7;
    --color2:#1c8993;
    --color3:#f4d01d;
    --color4:#e41258;
    --color5:#f62314;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #081b29;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: yellow; */
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    font-weight: 800;
    color: blue;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
}

.navbar_box{
    margin: 0 20px;
}

.navbar a{
    /* background-color: aqua; */
    font-size: 18px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: .3s;
    border-bottom: 0px solid blue;
    
}

.navbar a:hover{
    color: blue;
    border-bottom: 4px solid blue;

}

.icons{
    display: flex;
    align-items: center;
    /* background-color: aliceblue; */
}

.icons_box{
    margin: 0 5px;
}

.icons a{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    transition: .3s;
}

.icons a:hover{
    color: orange;
}


.label_icons{
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.label_icons i{
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.label_icons i:hover{
    color: orange;
}

.label_icons i{
   display: none;
}

#check{
    display: none;
}


/* ////////////////////
        SKILLS
////////////////// */


.skills_video{
    display: flex;
    /* background-color: #14507a; */
    margin: 120px 40px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}

.col{
    flex-basis: 50%;
    min-width: 250px;
}

._img{
    width: 280px;
    margin: auto;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}

.play_btn{
    width: 60px;
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.9;
}

.video_player{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}

video:focus{
    outline: none;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}


/* /////////////////////////// */

.skills{
    padding: 0 8%;
    margin: 0;
}

.skills_box1{
    /* border: 1px solid #000000; */
    /* width: 90%;
    max-width: 1536px; */
    max-height: 30px;
    background-color: #000;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: -30px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0,0,0,0)
    );
}

.skills_box2{
    /* border: 1px solid #000000;
    width: 90%;
    max-width: 1536px; */
    margin-inline: auto;
    /* background-color: #000; */
    position: relative;
    height: 100px;
    margin-top: 5px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0,0,0,0)
    );
}

.item_1{
    width: 200px;
    height: 100px;
    background-color: #000;
    border-radius: 16px;
    position: absolute;
    right: max(calc(200px * 6), 100%);
    animation: 18s scropllRight linear infinite;
    
}

.item_2{
    width: 200px;
    height: 100px;
    /* background-color: #000; */
    border-radius: 16px;
    position: absolute;
    left: max(calc(200px * 6), 100%);
    animation: 18s scropllLeft linear infinite;
}



.item_1 p{
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #0091ff;
    text-align: center;
    /* line-height: 100px; */
}

.item_2 p{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #0091ff;
    text-align: center;
    line-height: 100px;
}

.item_1 p span{
    color: #f4d01d;
    align-items: center;
}

.item_2 p span{
    color: #f4d01d;
    align-items: center;
}





@keyframes scropllRight{
    to{
        right: -200px;
    }
}

@keyframes scropllLeft{
    to{
        left: -200px;
    }
}


.item1{
    animation-delay: calc(18s / 4 * (4 - 1) * -1);
}   

.item2{
    animation-delay: calc(18s / 4 * (4 - 2) * -1);
}

.item3{
    animation-delay: calc(18s / 4 * (4 - 3) * -1);
}

.item4{
    animation-delay: calc(18s / 4 * (4 - 4) * -1);
}





/* ///////////////////////
////////////////////// */



.item1_{
    animation-delay: calc(18s / 6 * (6 - 1) * -1);
}

.item2_{
    animation-delay: calc(18s / 6 * (6 - 2) * -1);
}

.item3_{
    animation-delay: calc(18s / 6 * (6 - 3) * -1);
}

.item4_{
    animation-delay: calc(18s / 6 * (6 - 4) * -1);
}

.item5_{
    animation-delay: calc(18s / 6 * (6 - 5) * -1);
}

.item6_{
    animation-delay: calc(18s / 6 * (6 - 6) * -1);
}







/* ////////////////////
        MEDIA
////////////////// */


@media(max-width: 1380px) {
    .skills_video{
        max-width: 800px;
        max-height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1px;
        
    }

    ._img{
        position: relative;
        left: 140px;
        width: 250px;
        height: 250px;
    }

    .play_btn{
        position: absolute;
        left: 120px;
    }

    .skills_box1{
        display: none;
    }

    .skills_box2{
        display: none;
    }

}



@media(max-width: 1200px) {
    .header{
        padding: 1.5rem 5%;
    }
    .icons_box {
        display: none;
    }

}

@media(max-width: 1060px) {
    .header{
        padding:1rem 1%;
    } 

    ._img{
        position: relative;
        left: 0;
    }

}

@media(max-width: 857px) {
    .header{
        background-color: rgba(0, 0, 0, 0.1);
        
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        display: block;
        justify-items: center;
        align-items: center;
        text-align: center;
        transition: .3s ease;
        overflow: hidden;
    }
    
    #check:checked~.navbar{
        height: 400px;
    }

    .navbar a{
        display: inline-flex;
        font-size: 18px;
        margin: 10px 0;
    }

    .label_icons #list{
        display: block;
    }

    #check:checked~.label_icons #list{
        display: none;
    }

    #check:checked~.label_icons #close{
        display: block;
    }

}

@media(max-width: 680px) {
    ._img{
        display: none;
    }

    .skills_box1{
        background-color: #081b29;
        display: block;
    }

    .item_1{
        background-color: #081b29;
    }

    .skills_box2{
        display: block;
    }


}